* {
  padding: 0;
  margin: 0;
}

body {
  overflow-x: hidden;
}

.wrapper {
  width: 100%;
}
.wrapper .top-banner {
  background-image: linear-gradient(rgba(255, 255, 255, 0.4), rgba(230, 230, 230, 0.4)), url("../images/world-bg.jpg");
  background-size: cover;
  background-position: center;
  aspect-ratio: 2/1;
  display: flex;
  align-items: center;
  justify-content: center;
}
.wrapper .top-banner .logo {
  width: calc(100% / 3);
}
.wrapper section {
  position: relative;
}
.wrapper section .sect {
  position: absolute;
  top: 3%;
  left: 1%;
  color: #d3d3d3;
}
.wrapper section .sect span {
  font-size: 0.9em;
}
.wrapper section .sect p {
  font-size: 2em;
  font-weight: normal;
  position: absolute;
  left: 70%;
  top: -5%;
}
.wrapper .part1 {
  background-size: cover;
  background-position: center;
  aspect-ratio: 3/1;
}
.wrapper .part1 .about-our-company {
  display: flex;
  align-items: center;
  justify-content: center;
}
.wrapper .part1 .about-our-company .text {
  margin-top: 8vh;
  width: 85%;
}
.wrapper .part1 .about-our-company .text h6 {
  font-size: 0.9em;
  text-transform: uppercase;
}
.wrapper .part1 .about-our-company .text h3 {
  font-family: "Manrope", sans-serif;
  font-size: 3em;
  letter-spacing: 5px;
}
.wrapper .part1 .about-our-company .text h2 {
  font-family: "Manrope", sans-serif;
}
.wrapper .part1 .about-our-company .text p {
  white-space: pre-wrap;
}
.wrapper .part1 .info {
  color: #fff;
  background: rgba(32, 33, 91, 0.5);
}
.wrapper .part2 {
  background: url(../images/section-img01.jpg) no-repeat;
  background-position: center;
  background-size: cover;
  color: white;
  padding-bottom: 8vh;
}
.wrapper .part2 .our-projects {
  display: flex;
  align-items: center;
  justify-content: center;
}
.wrapper .part2 .our-projects .text {
  margin-top: 8vh;
  width: 85%;
}
.wrapper .part2 .our-projects .text h6 {
  font-size: 0.9em;
  text-transform: uppercase;
}
.wrapper .part2 .our-projects .text h3 {
  font-family: "Manrope", sans-serif;
  font-size: 3em;
  letter-spacing: 5px;
}
.wrapper .part2 .our-projects .text h2 {
  font-family: "Manrope", sans-serif;
}
.wrapper .part2 .our-projects .text p {
  white-space: pre-wrap;
}
.wrapper .part2 .services {
  display: flex;
  padding: 0 2%;
  width: 75%;
  margin: 5vh auto 0;
}
.wrapper .part2 .services .item {
  flex: 1;
  flex-direction: column;
  margin: 0 1%;
  color: white;
  background-color: rgba(32, 33, 91, 0.5);
  box-shadow: 3px 6px 6px rgba(0, 0, 0, 0.5);
  border-radius: 5px;
}
.wrapper .part2 .services .item .img img {
  border-radius: 5px 5px 0 0;
}
.wrapper .part2 .services .item .title {
  border-bottom: 1px dotted white;
  padding: 5px 10px;
}
.wrapper .part2 .services .item .type {
  padding: 10px 10px;
}
.wrapper .part2 .services .item .type h5 {
  font-size: 0.9em;
}
.wrapper .part2 .services .item .body {
  padding: 10px 10px 0;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  margin-bottom: 3vh;
}
.wrapper .part2 .services .item .link {
  margin-bottom: 2vh;
  padding: 0 10px;
}
.wrapper .part2 .services .item .link a.to-link-btn {
  color: #2b5329;
  text-decoration: none;
  color: black;
  border: 1px solid #2b5329;
  background: #ffffff;
  padding: 5px 20px;
}
.wrapper .part2 .services .item .link a.to-link-btn:hover {
  color: white;
  background: #2b5329;
}
.wrapper .part2 .services .item .link a.btn-details {
  color: #2b5329;
  text-decoration: none;
  color: black;
  border: 1px solid #2b5329;
  background: #ffffff;
  padding: 5px 20px;
}
.wrapper .part2 .services .item .link a.btn-details:hover {
  color: white;
  background: #2b5329;
}
.wrapper .part3 {
  background: url("../images/world-map.png") no-repeat;
  background-size: cover;
  background-position: center;
}
.wrapper .part3 .our-projects {
  display: flex;
  align-items: center;
  justify-content: center;
}
.wrapper .part3 .our-projects .text {
  margin-top: 8vh;
  width: 85%;
}
.wrapper .part3 .our-projects .text h6 {
  font-size: 0.9em;
  text-transform: uppercase;
}
.wrapper .part3 .our-projects .text h3 {
  font-family: "Manrope", sans-serif;
  font-size: 3em;
  letter-spacing: 5px;
}
.wrapper .part3 .our-projects .text h2 {
  font-family: "Manrope", sans-serif;
}
.wrapper .part3 .our-projects .text p {
  white-space: pre-wrap;
}
.wrapper .part3 .corporate-profile {
  padding: 4vh 3vw;
}
.wrapper .part3 .corporate-profile .info {
  width: 90%;
  margin: 3vh auto;
  background: rgba(30, 30, 30, 0.1);
  padding: 30px 20px;
  box-shadow: 1px 3px 6px rgba(68, 68, 75, 0.397);
}
.wrapper .part3 .corporate-profile .info h3 {
  font-size: 1.5em;
  border-left: 8px solid #9de7d7;
  padding-left: 5px;
  border-bottom: 1px solid rgba(68, 68, 75, 0.397);
}
.wrapper .part3 .corporate-profile .info p {
  padding: 0 10px;
}
.wrapper .part4 {
  background: rosybrown;
  padding: 5vh 0;
}
.wrapper .part4 #list {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}
.wrapper .part4 #list > .textContents {
  background: white;
  padding: 10px 20px;
}
.wrapper .part4 #list > .textContents h2 {
  text-align: center;
}
.wrapper .part4 #list > .textContents h5 span {
  padding: 3px 5px;
  font-size: 0.8em;
}
.wrapper .part4 #list > .textContents h5 span:before {
  content: "#";
  padding-right: 5px;
}
.wrapper .part4 #list > .textContents .development {
  color: blue;
}
.wrapper .part4 #list > .textContents .development span {
  border: 1px solid blue;
}

.modal {
  color: #3a3b3c;
}
.modal .modal-body p {
  padding: 10px 20px;
  line-height: 2em;
}
.modal .go-to-link-modal {
  color: #2b5329;
  text-decoration: none;
  color: black;
  border: 1px solid #2b5329;
  background: #ffffff;
  padding: 5px 20px;
}
.modal .go-to-link-modal:hover {
  color: white;
  background: #2b5329;
}

@media screen and (min-width: 1200px) {
  .wrapper .part2 .services {
    width: 80%;
    min-width: 960px;
  }
}
@media screen and (max-width: 1200px) {
  .wrapper .part2 .services {
    width: 90%;
    max-width: 960px;
  }
}
@media screen and (max-width: 992px) {
  .wrapper .part2 .services {
    width: 100%;
  }
}
@media screen and (max-width: 768px) {
  .wrapper .part2 .services {
    flex-direction: column;
  }
  .wrapper .part2 .services .item {
    margin: 20px 1%;
  }
}

/*# sourceMappingURL=index.css.map */
