* {
    padding: 0;
    margin: 0;
}

body {
    overflow-x: hidden;
}

.wrapper {
    width:100%;

    .top-banner {
        background-image: linear-gradient(rgba(255,255,255,0.4),rgba(230,230,230,0.4)), url('../images/world-bg.jpg');
        background-size: cover;
        background-position: center;
        aspect-ratio: 2/1;
        display: flex;
        align-items: center;
        justify-content: center;
        .logo {
            width:calc(100% / 3);
        }
    }

    section {
        position: relative;
        .sect {
            position: absolute;
            top:3%;
            left:1%;
            color:#d3d3d3;
            span {
                font-size:0.9em;
            }
            p {
                font-size: 2em;
                font-weight: normal;
                position:absolute;
                left:70%;
                top:-5%;
            }
        }
    }

    .part1 {
        // background-image: linear-gradient(rgba(255,255,255,0.4),rgba(230,230,230,0.4)), url('../images/section-img01.jpg');
        background-size: cover;
        background-position: center;
        aspect-ratio: 3/1;
       
        .about-our-company {
            display: flex;
            align-items: center;
            justify-content: center;
            .text {
                margin-top:8vh;
                width:85%;
                h6 {
                    font-size:0.9em;
                    text-transform: uppercase;
                }
                h3 {
                    font-family: 'Manrope', sans-serif;
                    // color:white;
                    font-size:3em;
                    letter-spacing: 5px;
                }
                h2 {
                    // color:white;
                    font-family: 'Manrope', sans-serif;   
                }
                p {
                    white-space:pre-wrap;
                }
            }
        }
        .info {
            color:#fff;
            background:rgba(32,33,91,0.5);
        }
    }

    .part2 {
        background:url(../images/section-img01.jpg) no-repeat;
        background-position: center;
        background-size: cover;
        color:white;
        padding-bottom:8vh;
        .our-projects {
            display: flex;
            align-items: center;
            justify-content: center;
            .text {
                margin-top:8vh;
                width:85%;
                h6 {
                    font-size:0.9em;
                    text-transform: uppercase;
                }
                h3 {
                    font-family: 'Manrope', sans-serif;
                    // color:white;
                    font-size:3em;
                    letter-spacing: 5px;
                }
                h2 {
                    // color:white;
                    font-family: 'Manrope', sans-serif;   
                }
                p {
                    white-space:pre-wrap;
                   
                }
            }
        }
       
        
          .services { 
            display: flex;
            // flex-direction: column;   
            padding: 0 2%;
            // background-color: lightgray;
            width:75%;
            margin:5vh auto 0;
            .item { 
                flex: 1; 
                flex-direction: column;
                margin: 0 1%;
                color: white;
                background-color: rgba(32,33,91,0.5); 
                box-shadow: 3px 6px 6px rgba(0,0,0,0.5);
                border-radius: 5px;
                // text-align: center;
                .img {
                    img {
                        border-radius: 5px 5px 0 0;
                    }
                }
                .title {
                    border-bottom:1px dotted white;
                    padding:5px 10px;
                }
                .type {
                    padding:10px 10px;
                    h5 {
                        font-size:0.9em;
                    }
                }
                .body {
                    padding:10px 10px 0;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    display: -webkit-box;
                    -webkit-box-orient: vertical;
                    -webkit-line-clamp: 3;
                    margin-bottom:3vh;
                }

                .link {
                    margin-bottom:2vh;
                    padding:0 10px;
                    a.to-link-btn {
                        color:#2b5329;
                        text-decoration: none;
                        color:black;
                        border:1px solid #2b5329;
                        background:#ffffff;
                        padding:5px 20px;
                        &:hover {
                            color:white;
                            background:#2b5329;
                        }
                    }
                }

              }
          }
    }
}

.modal {
    color:#3a3b3c;
}
@media screen and (min-width:1200px) {
    .wrapper {
        .part2 {
           .services {
            width:80%;
            min-width:960px;
           }
        }
    }
}

@media screen and (max-width:1200px) {
    .wrapper {
        .part2 {
           .services {
            width:90%;
            max-width:960px;
           }
        }
    }
}

@media screen and (max-width: 992px) {
    .wrapper {
        .part2 {
            .services {
                width:100%;
            }
        }
    }
}

@media screen and (max-width: 768px) {
    .wrapper {
        .part2 {
            .services {
                flex-direction: column;
                .item {
                    margin:20px 1%;
                }
            }
        }
    }
}