$kmax-orange: #F26722;
$kmax-black: rgba(0,0,0);
$kmax-white: rgba(233,233,233);


.wrapper3 {
    .navbar {
        background:#9DE7D7;
    }
    .title-banner {
        background-color:$kmax-black;
        aspect-ratio: 3/1;
        display: flex;
        align-items: center;
        justify-content: center;
        .logo-area {
            
            .logo-img {
                width:60%;
                margin:0 auto;
            }
            h3 {
                color:$kmax-white;
                margin-top: 5vh;
            }
            h5 {
                color: $kmax-white;
            }
        }
    }
    .section01 {
        padding: 7vh 0;
    }
}