$nile-blue: rgb(5, 80, 132);
$nile-green: #037d75;

.wrapper4 {
  .navbar {
    background: #9de7d7;
  }

  .line-break500 {
    display: none;
  }
  .title-banner {
    background: url(../images/nile/top-bg1.png) no-repeat;
    background-position: center;
    background-size: cover;
    aspect-ratio: 3/1;
    // display: flex;
    // align-items: center;
    // justify-content: center;
    position: relative;
    .logo-area {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      background: rgba(255, 255, 255, 0.7);
      padding: 30px;
      .logo-img {
        width: 60%;
        margin: 0 auto;
      }
      h3 {
        color: white;
        margin-top: 5vh;
      }
      h5 {
        color: white;
      }
    }
  }

  section {
    padding: 8vh 0;
  }

  .section01 {
    .intro {
      .intro-text {
        background: $nile-blue;
        h6 {
          line-height: 2em;
          font-size: 1.25em;
          color: #fff;
        }
      }
      .video-container {
        position: relative;
        overflow: hidden;
        aspect-ratio: 16/9;
        .responsive-iframe {
          position: absolute;
          top: 0;
          left: 0;
          bottom: 0;
          right: 0;
          width: 100%;
          height: 100%;
        }
      }
      .video-bottom-text {
        padding: 3vh 0;
        p {
          text-align: center;
        }
      }
    }
  }

  .section02 {
    background: $nile-green;
    position: relative;
    .background-text {
      position: absolute;
      top: 0;
      left: 0;
      font-family: "PT Serif", serif;
      // background-color: rgba($nile-blue, 0.7);
      h2 {
        font-size: 3.5em;
        color: rgba(255, 255, 255, 0.75);
        padding: 0 20px;
      }
    }
    .container {
      .about {
        border: 2px solid $nile-green;
        color: white;
        width: 100%;
        max-width: 960px;
        margin: 0 auto;
        padding: 30px 20px;
        p {
          line-height: 2em;
        }
      }
    }
  }

  .section03 {
    background: rgb(233, 227, 224);
    background: linear-gradient(
      135deg,
      rgba(233, 227, 224, 1) 0%,
      rgba(255, 249, 246, 1) 100%
    );
    .card {
      border-radius: 10px 10px;
      box-shadow: 1px 3px 6px rgba(50, 50, 50, 0.5);
      .card-body {
        background-color: #b4f1e4;
        border-radius: 0 0 10px 10px;
      }
    }
    .list {
      // background: blue;
      ul {
        list-style-type: none;
        padding: 10px 20px;
        li {
          line-height: 2em;
        }
      }
    }
  }

  .section04 {
    background: aliceblue;
    .container {
      .card {
        .top-text {
          background: $nile-blue;
          color: #fff;
        }
        .bottom-text {
          background: $nile-green;
          color: #fff;
        }
      }
      .to-end {
          margin:5vh auto;
        p {
          font-size: 1em;
          text-align: center;
        }
      }
      .to-link {
        // margin-top:3vh;
        // padding: 3vh 0;
        width: 100%;
        text-align: center;
        max-width: 540px;
        margin: 2vh auto;
        background: #e74026;
        box-shadow: 1px 3px 6px rgba(50, 50, 50, 0.7);
        color: #fff;
        h6 {
          // text-decoration: underline;
          padding: 2vh 0;
          background:#e47564;
          text-shadow: 1px 1px 1px rgba(50, 50, 50, 0.7);
          &:before {
            content: "【";
          }
          &:after {
            content: "】";
          }
          font-size: 1.25em;
        }
        p {
          padding: 2vh 0 3vh;
          a {
            color: #fff;
          }
        }
      }
    }
    .end {
        margin:8vh auto 4vh;
    }
  }

  .footer {
    padding: 2vh 0;
    font-family: "Shippori Mincho", serif;
    .container {
      .company-footer {
        h5 {
          font-size: 1em;
        }
      }
    }
  }
}

@media screen and (max-width: 500px) {
  .wrapper4 {
    .line-break500 {
      display: block;
    } 
    .section01 {
      .intro {
        .intro-text {
          h6 {
            font-size: 1em;
          }
        }
      }
    }
    .section02 {
        .container {
            .about {
                padding:20px 10px;
                p {
                    font-size:0.9em;
                }
            }
        }
    }
  }
}

@media screen and (max-width: 440px) {
    .wrapper4 {
      .section01 {
        .intro {
          .intro-text {
            h6 {
              font-size: 0.9em;
            }
          }
        }
      }
    }
  }
